@model FormViewModel

@{
    ViewData["Title"] = "Meal info";
}

<form method="post">
    <input asp-for="Date" hidden/>
    <input asp-for="AltId" hidden/>

    <label class="col-form-label" asp-for="Name">Jmeno:</label>
    <input class="input-group" asp-for="Name""/>
    <span asp-validation-for="Name" class="alert-danger"></span>
    <button type="submit" class="btn btn-primary">Odeslat</button>
</form>