<h2>Seznam Produktu</h2>
@foreach(Product product in ViewBag.Products) {
    <div>
        <h3><a href = "@Url.Action("Detail", new{ id = product.Id, Test = "ABC", Num = 6})">@product.Name</a></h3>
        <span>@product.Price Kc</span>
        <p>@product.Description</p>
    </div>
}