@model SecondFormModel

@{
    ViewData["Title"] = "Second page";
}


<form method="post">
    <label asp-for="Psc">PSC:</label>
    <input asp-for="Psc" />
    <span asp-validation-for="Psc"></span>
    <label asp-for="Municipality">Okres:</label>
    <input asp-for="Municipality" />
    <span asp-validation-for="Municipality"></span>
    <label asp-for="Name">Jmeno:</label>
    <input asp-for="Name" />
    <span asp-validation-for="Name"></span>

    <label asp-for="PhoneNumber">Telefoni cislo:</label>
    <input asp-for="PhoneNumber" />
    <span asp-validation-for="PhoneNumber"></span>
    <button type="submit" class="btn btn-primary">Odeslat</button>
</form>